<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/e26fc31b53.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>


<body>
    <header>
        <NAv class="navbar  flex-row container">
            <picture class="logo">
                <a href="/index.html">
                    <img class="logo" src="../image/LogosSi.png" alt=""></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="/index.html" class="menu__link">INICIO</a></li>
                <li class="menu__item">
                    <a href="./acerca.html"class="menu__link">ACERCA</a></li>
                <li class="menu__item">
                    <a href="./contacto.html"class="menu__link">CONTACTO</a></li>
                <li class="menu__item">
                    <a href="./consultas.html"class="menu__link">CONSULTAS</a></li>
                <li class="menu__item">
                    <a href="./galeria.html"class="menu__link">GALERIA</a></li>
            </ul>
        </NAv>
    </header>
    <main>
        <section>
            <article>
                <h1>Nos pude encontrar</h1>
                    <label for="Email">Email</label> <label for="Email">serviciosintegrales@gmail.com</label>
                    <label for="Celular">Celular</label><label for="celular">11514151515</label>
                    <label for="Horarios">Nuestros Horarios de atencion son de 09:00hs a 16:30hs</label>
                    <label for="direccion">direccion</label><label for="direccion2">Lorem ipsum dolor</label>
            </article>
        </section>
    </main>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../image/LogoFooter.png" alt="Logo de servicios integrales">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h3>SOBRE NOSOTROS</h3>
                <P>Somos un equipo de profesionales multidisciplinario, capaz de realizar cada emprendimiento en todas
                    sus arias
                    posibles. Nuestro objetivo es ser un modelo de empresa a seguir, reconocida por su transparencia, seguridad
                    y alto nivel de eficiencia.</P>
            </div>
            <div class="box">
                <h3>NOS PUEDE ENCONTRAR</h3>
                <div class="red social">
                    <a href="#" class="fa fa-whatsapp" class="text"></a>
                    <a href="https://goo.gl/maps/QZZicivRvr8yAbbm8" class="fa fa-map-marker"></a>
                    <a href="#" class="fa fa-phone"></a>
                    <a href="#" class="fa fa-envelope"></a>

                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>Servicios Integrales</b> - Todos los derechos reservados.</small>

        </div>




    </footer>
</body>

</html>
    
</body>

</html>+
